
<p></p>
<div class="text-center">
    <h2>Aceptación de condiciones</h2>
</div>

<p class="text-justify">
  Lorem fistrum nostrud tiene musho peligro ullamco a gramenawer nostrud voluptate te voy a borrar el cerito elit me cago en tus muelas reprehenderit. Llevame al sircoo reprehenderit hasta luego Lucas incididunt commodo jarl está la cosa muy malar officia. No te digo trigo por no llamarte Rodrigor quis incididunt labore laboris se calle ustée tempor magna. Elit torpedo tempor caballo blanco caballo negroorl te va a hasé pupitaa consequat hasta luego Lucas.
</p>

<div *ngIf="mensaje" class="alert alert-danger">{{mensaje}}</div>

<div class="text-center">
    <label class="control-label mr-2">Acepto</label>
    <input class="mr-2" type="checkbox" [(ngModel)]="acepta"/>
    <button class="btn mr-2 btn-secondary" style="width:110px" routerLink="/login/registro">Volver</button>
    <button class="btn mr-2 btn-info" style="width:110px" (click)="registrar()">Registrar</button>
</div>







